.detalleDeProd h2{
    text-align: center;
}

.detalleDeProd{
    background: linear-gradient(#6487e6, #ebe5ec);
 }
 .detalleDeProd .sin-stock{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
   
    border: 2px solid rgba(212, 0, 255, 0.664) ;
    box-shadow: 4px 4px 8px rgba(212, 0, 255, 0.664) ;
    border-radius: 16px;
   background-color: white;
}
.detalleDeProd .volver {
    
        text-decoration: none;
        color: white;
        background-color: blueviolet;
        padding: 10px;
        font-size: 27px;
        border: solid black 2px;
        border-radius: 15px;
        margin-top: 40px;
    
}
.detalleDeProd{
    background-repeat: repeat;
    background-size: 90px;

}
.detalleDeProd .sin-stock img{
    width: 20%;

}

.detalleDeProd .sectionDetail div.vistas ul{
    display: none;
}
.detalleDeProd .sectionDetail .detallado {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.detalleDeProd .sectionDetail div.vistas .detallado i.fas.fa-percentage {
    display: flex;
    height: 6%;
    width: 15%;
    padding: 10px;
    font-size: 80%;
    justify-content: center;
    background-color: rgb(166 43 169);
    align-items: center;
    border: 2px solid rgb(166 43 169);
    border-radius: 50%;
    color: rgb(248 248 248);
    position: absolute;
    left: 7%;
    bottom: 65%;
}

.detalleDeProd .sectionDetail div.vistas .detallado .principal{
    width: 90%;
    height: 220px;
    border:rgb(166 43 169) solid 4px;
    border-radius: 16px;
    margin-top: 10%;
}
.detalleDeProd .sectionDetail div.vistas .detallado img.principal-movil{
    width: 100%;
    height: 450px;
    margin: 0 50px 0 50px;
}

.detalleDeProd .sectionDetail .detalle{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    width: 100%;
    margin: 10px 10px 50px 0;
    align-items: center;
}

.detalleDeProd .sectionDetail  .titulo,.marca{
color: black;
background-color: aqua;
border: rgb(7, 174, 252) solid 2px; 

width: 60%;
padding: 5px;
margin: 5px;
}
.detalleDeProd .sectionDetail .precio{
    width: 100%;
}
.detalleDeProd .sectionDetail .precio-detalle{
    color: black;
background-color: aqua;
border: rgb(7, 174, 252) solid 2px; 

width: 100%;
padding: 5px;
margin: 5px;
font-size: 22px;
}

.detalleDeProd .sectionDetail div.precio-descuento{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    margin: 5px 0 10px 0;
}

.detalleDeProd .sectionDetail divdiv.precio-descuento .descuento{
    text-decoration: line-through;
    margin-left: 5px;
    color: black;
    background-color: pink;
    border: rgb(235, 129, 146) 2px solid;
    
    font-size: 22px;
    padding: 3px;
}

.detalleDeProd .sectionDetail div.sumar-carrito{
    width: 20%;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.detalleDeProd .sectionDetail div.sumar-carrito .increase, .decrease{
    width: 25px;
    height: 25px;
    border: 2px black solid;
    border-radius: 5px;
    background: blueviolet;
    box-shadow: 4px 4px 8px rgba(212, 0, 255, 0.664);
    text-align: center;
}
.detalleDeProd .sectionDetail div.sumar-carrito .contador{
    width: 30px;
    height: 25px;
    text-align: center;
}

.detalleDeProd h1, h2, span{
    text-align: center;
}

.detalleDeProd .sectionDetail div.agregar{
    width: 100%;
    margin-top: 20px;
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.detalleDeProd .sectionDetail div.agregar  .a-carrito{
    width: 70%;
    height: 40px;
    background: blueviolet;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: 4px 4px 8px rgba(212, 0, 255, 0.664) ;
}
.detalleDeProd .a-carrito a{
color: white;
}


.detalleDeProd .descripcion{
    width: 95%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.795);
    box-shadow: 4px 1px 9px rgb(7 174 252);
    border: 2px solid rgb(7 139 252);
    padding: 3%;
}
.detalleDeProd .caja-descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detalleDeProd .caja-descripcion h2{
    display: none;
}
.detalleDeProd .similares{
    display: none;
    color: white;
    padding: 5px;
    width: 100%;
}

.detalleDeProd .similares ul{
    display: flex;
    width: 98%;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto;
}
.detalleDeProd .similares ul article{
    width: 100vw;
    height: 250px;
    margin-top: 50px;
}
.detalleDeProd .similares ul::-webkit-scrollbar{
    display: none;
}

.detalleDeProd .similares ul article{
    width: 25%;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
}
.detalleDeProd .similares article div.producto{
    background-repeat: no-repeat;
    background-size: contain;
    height: 15vh;
    width: 40vw;
    padding: 1vw;
}

.detalleDeProd .similares article p{
    color: black;
    text-align: center;

}

.detalleDeProd .similares article h4{
    color: black;
    text-align: center;
}

.detalleDeProd .similares ul{
    
    height: 16rem;
    margin-left: 1vw;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: auto;
    
}

@media (min-width: 461px) {
    
    .detalleDeProd .sectionDetail div.vistas .detallado i.fas.fa-percentage {
        display: flex;
        height: 9%;
        width: 12%;
        padding: 10px;
        font-size: 100%;
        justify-content: center;
        background-color: rgb(166 43 169);
        align-items: center;
        border: 2px solid rgb(166 43 169);
        border-radius: 50%;
        color: rgb(248 248 248);
        position: absolute;
        left: 8%;
        bottom: 60%;
    }
    
    .detalleDeProd .caja-descripcion h2{
        display: block;
        color: white;
        background-color: black;
        border:  rgb(7, 174, 252) solid 2px;
        padding: 5px;
        box-shadow: 4px 1px 9px rgb(7 174 252);
        margin-bottom: 3px;
        margin-top: 5px;
        font-size: 18px;
    }
    .detalleDeProd .similares{
        display: block;
    }
    .detalleDeProd h2.similares{
        display: block;
        background-color: rgb(245, 163, 176);
        color: white;
        border: white 2px solid;
        padding: 5px;
        position: absolute;
        left: 0%;
        width: 100%;
    }
    .detalleDeProd .sectionDetail div.vistas .detallado .principal {
        height: 294px;
    }
    .detalleDeProd {
        background-repeat: repeat;
        background-size: 38px;
    }
    .detalleDeProd .similares article .tarjeta-detalle{
        text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 2px;
    border-radius: 10px;
    background-color: white;
    width: 90%;
    margin: 6%;
    }
    .detalleDeProd .similares article{
        background-color: #6487e68c;
    }
    .detalleDeProd .similares article .tarjeta-detalle .titulo-tarjeta{
        color: black;
    }
    .detalleDeProd .similares article .tarjeta-detalle .precio-tarjeta{
        color: black;
    }
    .detalleDeProd .similares article div.producto{
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100px;
        
    }
    }
@media (min-width: 885px) {


    .detalleDeProd{
        flex-direction: row;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .detalleDeProd .caja-descripcion h2{
        display: block;
        color: white;
        background-color: black;
        border:  rgb(7, 174, 252) solid 2px;
        padding: 5px;
       margin-bottom: 0px;
    }
    .detalleDeProd .sectionDetail div.vistas .detallado .principal{
        margin-top: 0px;
        margin-bottom: 15px;
       
    }
    .detalleDeProd .sectionDetail {
        display: flex;
        width: 98vw;
        
       
    }
    .detalleDeProd .sectionDetail .detallado {
        display: flex;
        width: 100%;
        overflow-y: hidden;
        height: 430px;
    }
    .detalleDeProd .sectionDetail div.vistas{
        display: flex;
        width: 52%;
        justify-content: center;
        height: 665px;
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .detalleDeProd .sectionDetail div.vistas ul .caja-secundarias{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
    .detalleDeProd .sectionDetail div.vistas .detallado i.fas.fa-percentage {
        display: flex;
        height: 9%;
        width: 6%;
        padding: 10px;
        font-size: 120%;
        justify-content: center;
        background-color: rgb(166 43 169);
        align-items: center;
        border: 2px solid rgb(166 43 169);
        border-radius: 50%;
        color: rgb(248 248 248);
        position: absolute;
        left: 10%;
        bottom: 50%;
    }
    .detalleDeProd .sectionDetail div{
        display: flex;
        flex-direction: column;
        width: 46%;
        height: fit-content;
        margin-top: 30px;
        padding: 2%;
        border: 2px solid blueviolet;
        border-radius: 20px;
        margin-right: 16px;
        background-color: rgba(116, 116, 116, 0.329);
    }

    .detalleDeProd .sectionDetail div.vistas ul{
        display: flex;
       margin-left: 7%;
        
    }

    .detalleDeProd .sectionDetail div.vistas ul li{
        list-style: none;
    }
    .detalleDeProd .sectionDetail div.vistas .detallado img.principal{
        width: 30vw;
        height: 400px;
        margin-top: 30px;
       
    }
    .detalleDeProd .sectionDetail div.vistas .detallado img.principal-movil{
        display: none;
    }

    .detalleDeProd .sectionDetail div.vistas .secundarias{
        width: 69px;
        height: 70px;
        margin: 5px;
        border: 2px solid black;
        border-radius: 10px;
    }

    .detalleDeProd h1, h2, span{
        text-align: center;
    }

    .detalleDeProd .descripcion{
        width: 98%;
        margin: 1%;
    }
    .detalleDeProd .similares ul article{
        width: 25%;
        height: 240px;
    }
    .detalleDeProd .similares article div.producto{
        background-repeat: no-repeat;
        background-position: center;
        height: 150px;
        width: 15vw;
        padding: 1vw;
    }

    .detalleDeProd .similares article p{
        color: black;
        text-align: center;

    }

    .detalleDeProd .similares article h4{
        color: black;
        text-align: center;
    }

    .detalleDeProd h2.similares {
        display: block;
        color: white;
        padding: 5px;
        left: 0%;
        width: 100%;
    }
    .detalleDeProd .similares ul{
        width: 94vw;
        height: 20rem;
        margin-left: 3vw;
    }
}