.register{
    font-family: var(--fuenteGral);
}
.register{
    background-color: var(--ColorRegister);
}




.register h1{
    text-align: center;
    margin-top: 10px;
    color: white;
    margin-bottom: 8px;
}

.register p{
    color: white;
    text-align: center;
    font-size: 12.5px;
    margin-bottom: 25px;
}

.register .icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.register .icons img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.register .icons input{
    font-family: var(--fuenteGral);
    text-align: center;
    font-size: 15px;
    color: var(--colorGris);
    display: none;
}

.register i.fa-user{
    text-align: center;
    font-size: 80px;
    color: var(--colorGris);
}

.register small{
    margin-left: 9vw;
    font-size: 15px;
}

.register small.terms{
    margin: 0;
    font-size: 15px;
}

.register .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    margin-bottom: 10px;
    color: var(--colorBlanco);


}
.register .container label{
    text-align: center;
    width: 100%;
    padding: 3px;
    font-family: var(--fuenteGral);
    font-weight: 400;
    color: var(--colorBlanco);
}

.register .container input{
    width: 70%;
    margin-left: 15%;
}

.register button{
    padding-bottom: 7px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    width: 65%;
    margin-left: 17.5%;
    font-family: var(--fuenteGral);

}

.register h4{
    text-align: center;
    color: var(--colorGris);
    margin-bottom: 10px;
}

.register .enviar{
   background-color: var(--colorGris);
   color: var(--colorBlanco);
   
}

.register .facebook{
   background-color: var(--colorVioleta);
   color:var(--colorBlanco);  
}
    
.register .google{
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.register .foot-reg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 10%;
}

.register .terminos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fuenteGral);
    color: white;
    font-size: 25px;
    text-align: center;
}
.register .video-promo{
    display: none
}
.register .logo-register img{
    width: 60%;
}
.register .logo-register{
    text-align: center;
}

@media (min-width: 461px){
    .register .video-promo{
        display: none
    }
    
    
    .register .logo-register img{
        width: 20%;
    }
    .register .logo-register{
        text-align: center;
    }
    .register .container-register {
        position: relative;
        z-index: 1;
        background-color: #442066e8;
        border: 2px solid blueviolet;
        border-radius: 16px;
        width: 70%;
        margin: 20px;
        
    }
    .register{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .register .container-register p{
        color: white;
    }
    .register .container-register h1{
        color: rgb(228, 206, 206);
    }
}
@media (min-width: 1000px){

    .register .video-promo{
        display: block;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .register .video-promo video{
        width: 100vw;
        height: max-content ;
        
    }
    .register .container-register {
        position: relative;
        z-index: 1;
        background-color: #442066e8;
        border: 2px solid blueviolet;
        border-radius: 16px;
        width: 45%;
        margin-top: 30px;
    }
}